{% extends 'login_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Log Out{% endblock %}

{% block content %}

<section class="fdb-block py-0">
  <div class="container py-5 my-5" style="background-image: url({% static 'assets/img/6.svg' %});">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-left">
        <div class="row">
          <div class="col">
            <h1>Log Out</h1>
            <p>Are you sure you want to log out?</p>
          </div>
        </div>

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            
            <button class="btn btn-danger" type="submit">Log Out</button>
          </form>

      </div>
    </div>
  </div>
</section>

{% endblock content %}