{% extends '_base.html' %}

{% load static %}

{% block title %}AngularJS Development{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>AngularJS Development</h1>
              <h2>Reliable, effective, scalable and impressive AngularJS development services to maximize your business outcomes.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/angularjs.webp' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>AngularJS Development</p>
      </div>

      <div class="row" data-aos="fade-left">

        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-code-box-line" style="color: #ffbb2c;"></i>
            <h3><a href="{% url 'angularjsdev' %}">AngularJS Development</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="{% static 'assets/img/img7.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" data-aos="fade-up">
          <h3>Leverage AngularJS To Build Enterprise-grade Apps</h3>
          <p>
            If you are looking to build advanced web applications that are highly effective and perfect for enterprise level development, then you should seriously consider AngularJS. Our AngularJS experts create effective and innovative software solutions for our clients.
          </p>
          <p>
            Angular JS, also known as the “superheroic JavaScript Framework” has been around for some time now and has gained traction since last few years. It is supported by one of the biggest name in the tech industry “Google”.
        </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/about-extra-1.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Results-Driven AngularJS Development Services</h3>
          <p>
            Being an industry recognized AngularJS development company, we understand the importance of JS technologies required to help clients build world-class applications. We provide reliable AngularJS development services to develop efficient AngularJS applications for small, and large-scale business enterprises.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/browsers.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>We Build Awesome Web Applications Using Angular JS</h3>
          <p>
            Through Angular JS, you can roll your website out faster! Angular JS offers supreme flexibility making it possible to create those (becoming famous again) single page applications quickly and effectively. AngularJS also speeds up testing phases and simplify development processes, so that you can get your web application up and running faster.
          </p>
          <p>
            Angular JS is capable of working with various variety of libraries and is extremely extensible. It allows the developers to fully customize the workflow according to client’s needs.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/customer-survey.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Reliable Angular JS Development Services</h3>
          <ul>
            <li><i class="icofont-check"></i> AngularJS Web App Development</li>
            <li><i class="icofont-check"></i> Real Time Applications</li>
            <li><i class="icofont-check"></i> API Development</li>
            <li><i class="icofont-check"></i> Custom App Development</li>
            <li><i class="icofont-check"></i> eCommerce Development</li>
            <li><i class="icofont-check"></i> Plugins Development</li>
            <li><i class="icofont-check"></i> Enterprise App Development</li>
            <li><i class="icofont-check"></i> AngularJS Customization</li>
            <li><i class="icofont-check"></i> Support & Maintenance Services</li>
          </ul>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/about-img.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Hire AngularJS Developers & Experts</h3>
          <p>
            Hire expert AngularJS developers to develop enterprise level solutions for the AngularJS projects.
          </p>
          <p>
            Webdavit is one of the leading AngularJS development company, having expertise in end-to-end services like AngularJS web application development.
          </p>
          <p>
            Our Angular developers make sure that your website and applications matches with your vision, and help you develop engaging web & mobile apps.
          </p>
          <p>
            If you are looking for AngularJS development, design, strategy, integrations, support, and maintenance, My Web Programmer has a highly capable team of AngularJS developers to help enterprises leverage the most out of this powerful framework.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    We provide full-cycle AngularJS development services to deliver a highly functional custom tailored solution to maximize your business outcomes.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Our AngularJS developers have experience working on numerous projects across various industries. Being a professional AngularJS development company, you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    Hire AngularJS developers who follow iterative approach that accelerates the delivery of business value through a process of continuous planning and feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With experienced AngularJS developers on board, our AngularJS development company is capable of executing most complex and demanding projects, covering aspects for performance, scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/chatting.svg' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

{% endblock content %}