{% extends '_base.html' %}

{% load static %}

{% block title %}Drupal Development{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>Drupal Development</h1>
              <h2>Productive, reliable and professional Drupal development services to maximize your business outcomes.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/iphone-hand.svg' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Drupal Development</p>
      </div>

      <div class="row" data-aos="fade-left">

        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-code-box-line" style="color: #ffbb2c;"></i>
            <h3><a href="{% url 'drupaldev' %}">Drupal Development</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="{% static 'assets/img/tabs.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" data-aos="fade-up">
          <h3>We Develop High Performing Drupal Websites & Modules</h3>
          <p>
            Our Drupal developers are well versed with Drupal and have strong experience working with websites ranging from simple CMS implementation to complex Drupal based web applications and module development.
          </p>
          <ul>
            <li><i class="icofont-check"></i> Custom Drupal Development Services</li>
            <li><i class="icofont-check"></i> Custom Module Development</li>
            <li><i class="icofont-check"></i> Drupal Theme Design and Integration</li>
            <li><i class="icofont-check"></i> Drupal Upgradation Services</li>
            <li><i class="icofont-check"></i> Drupal Customization and Integration Services</li>
            <li><i class="icofont-check"></i> Drupal Consulting</li>
            <li><i class="icofont-check"></i> Drupal Troubleshooting and Support</li>
            <li><i class="icofont-check"></i> Drupal Maintenance Services</li>
          </ul>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/features-1.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Results-Driven Drupal Development Services</h3>
          <p>
            Being one of the leading Drupal development company, our Drupal developers have strong experience in creating innovative, professional, and highly customized Drupal-based websites and solutions.
          </p>
          <p>
            Drupal remains a cornerstone of our design, development, and consulting efforts to create engaging digital experiences and results-driven business results.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/developer.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Expert Drupal Developers For Hire</h3>
          <p>
            Drupal has become the de-facto open-source CMS for most government and mid-scale large implementations worldwide. And, there are strong reasons for the wide spread adoption of this technology including clean code base to flexible architecture, and scalability options.
          </p>
          <p>
            With Drupal, we’ve had 6+ years of experience, and have been an active participant within Drupal community. Our Drupal developers have solid experience with a strong exposure to tasks of varying complexities. Be it Drupal theming, custom mobule development, integration or any other complex implementations, our Drupal developers are capable enough to perform everything according to your requirements.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/git.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Leverage Drupal To Build Enterprise-grade Websites</h3>
          <p>
            My Web Programmer is one of the leading Drupal development company having expertise in developing compelling websites and applications that drive successful outcomes to propel your business.
          </p>
          <p>
            We have a proven track record to provide effective, efficient, and custom-made Drupal development services and solutions for enterprises like yours to meet your business’ unique requirements.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/features-4.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Drupal Development Company That Builds To Propel your Business</h3>
          <p>
            We have been consistently delivering top-notch Drupal development services that has enabled us to become the preferred Drupal development company for businesses around the world.
          </p>
          <p>
            Our Drupal development team has helped businesses and enterprises enhance their user engagement, increase their revenues, and streamline their business processes.
          </p>
          <p>
            If you are looking to build a website or application with Drupal, upgrade to the latest version of Drupal, maintain your existing Drupal website, require custom Drupal module development or customizations, or augment your existing Drupal team, Drupal experts at My Web Programmer can help you with your goals.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    We provide full-cycle Drupal development services to deliver a highly functional custom tailored solution to maximize your business outcomes.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Our Drupal developers have experience working on various projects across numerous industries. Being a professional Drupal Development Company, you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    Drupal Development Company that follows iterative approach to accelerates the delivery of business value through a process of continuous planning and feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With experienced Drupal developers on board, our Drupal Development Company is capable of executing complex projects, covering aspects for performance, scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/scrum.svg' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

{% endblock content %}