{% extends '_base.html' %}

{% load static %}

{% block title %}Graphics Design{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>Graphic Design Services</h1>
              <h2>There's no limit to what you can get designed at Webdavit.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/peps.png' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Graphics Design</p>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-code-box-line" style="color: #ffbb2c;"></i>
            <h3><a href="#">Logo Design</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <i class="ri-html5-line" style="color: #5578ff;"></i>
            <h3><a href="#">Business Card Design</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
            <i class="ri-smartphone-line" style="color: #e80368;"></i>
            <h3><a href="#">Stationary Design</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <i class="ri-terminal-box-line" style="color: #e361ff;"></i>
            <h3><a href="#">Label Design</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3><a href="#">Letterhead Design</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <i class="ri-terminal-line" style="color: #ffa76e;"></i>
            <h3><a href="#">Name card Design</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
            <i class="ri-braces-line" style="color: #11dbcf;"></i>
            <h3><a href="#">Signage Design</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
            <i class="ri-code-s-slash-line" style="color: #4233ff;"></i>
            <h3><a href="#">Billboard Design</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/design-life.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-4" data-aos="fade-up">
          <h3>High Quality Graphic Design Services.</h3>
          <p class="font-italic">
            High quality designers who deliver only the best graphic design services.
          </p>
          <p>
            Whether you're looking for a spectacular new logo or some stunning flyers, the talented global community of designers at Webdavit can make it happen. 
          </p>
          <p>
            Webdavit prides itself on it's high quality designers who deliver only the best graphic 
            design services. Find the right design service for you and get design you'll love today!
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/designer.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>We believe in putting people first</h3>
          <p>
            Webdavit provides a global creative platform that makes it easy for clients and designers to work together online.
          </p>
          <p>
            People are the heart of Webdavit. Our mission is to champion creativity and create opportunities for people all over the world – wherever they are and however they want to work.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/details-2.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>We believe in people helping people create their own success</h3>
          <p>
            Our design community has a ton of talent and professional experience. Our clients are smart, passionate and full of great ideas.
          </p>
          <p>
            Our team has spent more than a decade building a world-class platform to enable remote creative collaboration.
          </p>
          <p>
            We stay on top of current design trends and concepts, aiming to be ahead of the curve while also implementing classic design principles into our work.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/details-4.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>We believe that design has no borders</h3>
          <ul>
            <li><i class="icofont-check"></i> We Make Decisions Based on Looks.</li>
            <li><i class="icofont-check"></i> We believe the journey should be fun.</li>
            <li><i class="icofont-check"></i> We don’t want you to ride a design trend that fades into obscurity.</li>
            <li><i class="icofont-check"></i> we don’t want you to become irrelevant by never adapting.</li>
            <li><i class="icofont-check"></i> we aim to place you in a position where your designs will be current, relevant, and suit both you and your customers.</li>
            <li><i class="icofont-check"></i> Graphic Design is our craft. We would love to use it to enable you to stand out in yours.</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xl-5 col-lg-6" data-aos="fade-right">
          <img src="{% static 'assets/img/details-1.png' %}" class="img-fluid" alt="">
          
        </div>

        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
          <h3>Results-Driven Graphics Design Services.</h3>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">Business Card Design Services</a></h4>
            <p class="description">Keeping a few business cards on-hand still has benefits in this digital world. It’s an introduction and a lasting impression, so make it stand out! We can handle such designs at no cost when paired with other services and we’ll print and ship at competitive, fair pricing.</p>
          </div>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="bx bx-gift"></i></div>
            <h4 class="title"><a href="">Letterhead Design</a></h4>
            <p class="description">For official documentation or special correspondents, your company needs an appealing and refined letterhead that integrates your logo and branding to make something that is uniquely you. Pair this design service with our business card and envelope services for consistency.</p>
          </div>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="bx bx-atom"></i></div>
            <h4 class="title"><a href="">Envelope Design</a></h4>
            <p class="description">Get your business to stand out from junk mail and improve your open rates with custom envelopes! These act as ad space, a call to action, or a reminder that your company is active and involved. Use this alongside our business card and letterhead services. View our envelope designs!</p>
          </div>

          <div class="icon-box text-center text-lg-left">
            <a href="{% url 'quote' %}" class="btn-c">Request a Consultation</a>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Branding & Identity</h4>
                <p>
                    Branding is like an invisible string that connects every separate aspect of your business. It allows you to grow and morph, to use different designs, but still paradoxically remain the same.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Logo Design & Branding</h4>
                <p>
                    We recommend starting here. Before you advertise, before you build a website, before you produce anything, have a logo.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Print & Layout Design</h4>
                <p>
                    We consume printed products regularly. We skim flyers pinned to community boards while we wait for our morning coffee, we offer business cards to new acquaintances randomly.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Content Writing & Development</h4>
                <p>
                    We provide professional content writers that will fill up your website or blog with SEO based content that are professionally written.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/features.svg' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

{% endblock content %}