{% extends '_base.html' %}

{% load static %}

{% block title %}Hire PHP Developers{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>Hire PHP Developers to get things done right the first time.</h1>
              <h2>Our dedicated and expert PHP Developers work with startups, businesses, partners & agencies, delivering PHP solutions to serve your business needs.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/img2.png' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Hire PHP Developers</p>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-code-box-line" style="color: #ffbb2c;"></i>
            <h3><a href="{% url 'wordpressdev' %}">Wordpress Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <i class="ri-html5-line" style="color: #5578ff;"></i>
            <h3><a href="{% url 'wordpressdev' %}">Wordpress Customizations</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
            <i class="ri-smartphone-line" style="color: #e80368;"></i>
            <h3><a href="{% url 'drupaldev' %}">Drupal Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <i class="ri-terminal-box-line" style="color: #e361ff;"></i>
            <h3><a href="{% url 'joomladev' %}">Joomla Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <i class="ri-terminal-line" style="color: #ffa76e;"></i>
            <h3><a href="{% url 'laraveldev' %}">Laravel Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
            <i class="ri-braces-line" style="color: #11dbcf;"></i>
            <h3><a href="{% url 'phpdev' %}">PHP Development</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/details-1.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-4" data-aos="fade-up">
          <h3>Get Experience Of An In-house PHP Developer Without The Cost.</h3>
          <p class="font-italic">
            Our full-stack PHP developers have the experience and skills to build it right, the first time.
          </p>
          <p>
            You can rely on us for your web and PHP development needs, whether it’s front-end, back-end, API integrations, developing end-to-end PHP based Enterprise Applications, Web Portals, E-Learning, B2B & B2C Ecommerce Platforms, custom web applications or software development. 
          </p>
          <p>
            We understand you require reliability, speed, agility, strong architectural and development experience from your tech partners . Thus, hire dedicated PHP Developers from My Web Programmer to help you reap the benefits of superior quality work at much affordable rates. We pair you with an in-house PHP developer whose expertise and skillsets are a match for your project. Hire remote PHP developers to get things done right the first time.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/details-2.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Why Hire a Dedicated Team of Developers?</h3>
          <p>
            It saves you time, cost, and effort. You get the benefit to instantly scale up and add on-demand development skills to your existing team. Minimized risk, more immediate and effective productivity.
          </p>
          <p>
            When you hire dedicated web developers with My Web Programmer, you get a dedicated team of expert web app developers who are ready to step up and provide you with what you need.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/about-img.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>On Demand, Expert PHP Developers You Can Trust For Your Next Project</h3>
          <p>
            Hire World’s One Of The Top PHP Developer. My Web Programmer is one of the leading PHP Development Company with 12+ years of experience in the market and industry recognition by providing world-class development services.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/details-3.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>PHP Developers For Hire On Flexible Engagement Models</h3>
          <p>
            Hire PHP Developers on a full-time / hourly basis that utilize the power of best in class PHP frameworks like Laravel, CodeIgniter, CakePHP, Symfony, Zend and open source platforms like WordPress, Drupal, Joomla, OpenCart, Magento, besides others.
          </p>
          <p>
            Get dedicated, exclusive and undivided attention on your projects. We’re your php developers for hire providing full-cycle php development services. We use the latest tools for collaboration and project management allowing us to synchronize our productivity, deliver value and updates so you’re always in the loop.
          </p>
          <p>
            Whenever we take a project on-board, we put in our best efforts to make sure the project gets delivered according to your specifications. We understand our success is in your success. This is one of the reasons we have a great percentage of repeat clients who choose us to hire dedicated PHP developers and programmers for their business.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/details-4.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Hire Expert PHP Programmers To Develop High Performing Web Applications</h3>
          <p>
            Our PHP web development team comprises of expert PHP developers and programmers having experience with latest technologies, frameworks, and well established methodologies for rapid PHP web application, and custom software development that facilitate and maximize your business growth.
          </p>
          <p>
            We are an experienced PHP development company that provides clients with remote dedicated PHP developers for hire to help you build your custom software and web application in an efficient and cost-effective way.
          </p>
          <p>
            Being one of the leading PHP programmers for hire, we do our best to deliver custom PHP web development solutions from the concept to the product launch. Whether you’re a startup, an established business, or a web development agency, hire remote dedicated PHP developer from My Web Programmer to help you achieve your ultimate business goals, increase your bottom line and to keep ahead of your competitors.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/details-3.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>One Of The Best PHP Developers In The Industry</h3>
          <p>
            To hire the top software development talent to fit your business needs undergoes scrutiny.
          </p>
          <p>
            We hire PHP developers who are motivated, team players, intuitive, creative, and possess problem-solving skills.
          </p>
          <p>
            Our potential focus remains to hire PHP developers who have extensive experience and well versed with object oriented programming concepts, logic building approach, database concepts, code versioning skills, application architecture and engineering concepts, ability to learn new things, and an agile mindset.
          </p>
          <p>
            Whether it is code fixing, software support, or building an enterprise-level web application, we have expert PHP developers to fit your business needs.
          </p>
          <p>
            Hire expert PHP Developers with expertise in Laravel, CodeIgnitor, and Symphony to deliver robust, powerful, and customized solutions.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    Hire one of the best PHP developers to deliver a highly functional, custom tailored solution to maximize your business outcomes.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Our PHP developers for hire have experience working on hundreds of projects across various industries. Being one of the best PHP developers for hire. you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    Hire PHP developers that follow iterative approach that accelerates the delivery of business value through a process of continuous planning and feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With talented and experienced PHP developers on board, our PHP developers for hire are capable of executing most complex projects, covering aspects for performance, scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/features.svg' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

        <div class="section-title">
          <h2>Our Advantages</h2>
          <p>How Dedicated Hiring Works.</p>
        </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/simple-iphone.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            
          <h3>We Find You The Suitable Programmer From Our In-house Team</h3>
          <ul>
            <li><i class="icofont-check"></i> We will match our in-house developers with your needs.</li>
            <li><i class="icofont-check"></i> Share project requirements and get estimates on tasks.</li>
            <li><i class="icofont-check"></i> Speak to the resource or conduct interview before hiring.</li>
          </ul>

          <h3>They Work Dedicatedly For You And Your Business Success</h3>
          <ul>
            <li><i class="icofont-check"></i> Communicate using phone, email, Skype or project management system.</li>
            <li><i class="icofont-check"></i> Your developers give undivided, dedicated attention to your projects.</li>
            <li><i class="icofont-check"></i> Get regular code check-ins and updates.</li>
          </ul>

          <h3>They Become A Reliable Extended Team For Your Business</h3>
          <ul>
            <li><i class="icofont-check"></i> Assign single or multiple tasks and projects.</li>
            <li><i class="icofont-check"></i> Scale up team / add resources as per your needs.</li>
            <li><i class="icofont-check"></i> Project manager assigned to review your team performance.</li>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

{% endblock content %}