{% extends '_base.html' %}

{% load static %}

{% block title %}Hire Joomla Developers{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>Hire Vetted Joomla Developers</h1>
              <h2>Our talented and dedicated Joomla Developers work with businesses, startups, agencies & partners, delivering Joomla development solutions to serve your business needs.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/hero-01.png' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Hire Joomla Developers</p>
      </div>

      <div class="row" data-aos="fade-left">

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <i class="ri-terminal-line" style="color: #ffa76e;"></i>
            <h3><a href="{% url 'joomladev' %}">Joomla Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
            <i class="ri-braces-line" style="color: #11dbcf;"></i>
            <h3><a href="{% url 'phpdev' %}">PHP Development</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/details-1.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-4" data-aos="fade-up">
          <h3>Get Experience Of An In-house Joomla Developer Without The Cost</h3>
          <p class="font-italic">
            Our dedicated Joomla developers have the experience and skills to build it right, the first time.
          </p>
          <p>
            Hire dedicated Joomla developers from My Web Programmer who are ready to take challenges of all levels of complex Joomla development projects and to help you with your existing or new Joomla development projects. Get high quality work, flexible working model, transparency and fast productive release cycles, at affordable costs as compared to our competitors. 
          </p>
          <p>
            You can rely on us for our custom Joomla development services, including Joomla CMS development, custom module development, Joomla website development, Joomla theme customization or any other custom Joomla development, support & maintenance.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/details-2.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>On Demand, Expert Joomla Developers You Can Trust For Your Next Project</h3>
          <p>
            Our experienced Joomla developers for hire provide Joomla web development solutions to build results-driven strong websites to help grow your business. Hire Joomla developers to develop your highly functional Joomla website and application optimized for performance.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/hero-img8.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Joomla Developers For Hire On Flexible Engagement Models</h3>
          <p>
            You can hire our dedicated Joomla Developers on a full-time / hourly basis or per project basis, depending on your needs, schedule, and your budget. If you’re looking to hire dedicated Joomla developer, we will pair you with an in-house Joomla developer whose skillsets and expertise are a match for your project. We’re your full-cycle Joomla development services provider.
          </p>
          <p>
            We use latest tools for project management and collaboration, so you remain completely in control and get regular updates of your project status. With our monthly dedicated Joomla web developer hiring contract, you get high quality, cost-effective and reliable Joomla development services.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/hero-img6.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Joomla Developers For Hire On Flexible Engagement Models</h3>
          <p>
            Hire Joomla Developers on a full-time, part-time, or hourly basis.
          </p>
          <p>
            Get exclusive, dedicated, and undivided attention on your Joomla projects. We’re your Joomla developers for hire providing full-cycle Joomla development services.
          </p>
          <p>
            Being one of the leading web development company, we do our best to deliver custom Joomla development services from the concept to the product launch.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/hero-img4.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Hire Expert Joomla Developers To Create High Performing Websites And Applications</h3>
          <p>
            Highly experienced, skilled Joomla developers at your service to develop enterprise level Joomla applications to support your business needs.
          </p>
          <p>
            Our expert Joomla developers for hire create solutions that are highly functional, yet easy-to-use to suit your website and application requirements.
          </p>
          <p>
            Hiring experienced Joomla developers from My Web Programmer will help you achieve high quality work, flexible working model, transparency, and affordable costs as compared to other vendors.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    Hire Joomla developers and programmers to deliver a highly functional custom tailored solution to maximize your business outcomes.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Hire Joomla developers having experience working on numerous of projects across various industries. Being one of the best web development company, you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    Our Joomla developers for hire follow iterative approach that accelerates the delivery of business value through a process of continuous planning and feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With experienced Joomla developers on board, our Joomla development team is capable of executing complex projects, covering aspects for performance, scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/features.svg' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

        <div class="section-title">
          <h2>Our Advantages</h2>
          <p>How Dedicated Hiring Works.</p>
        </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/details-4.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            
          <h3>We Find You The Suitable Programmer From Our In-house Team</h3>
          <ul>
            <li><i class="icofont-check"></i> We will match our in-house developers with your needs.</li>
            <li><i class="icofont-check"></i> Share project requirements and get estimates on tasks.</li>
            <li><i class="icofont-check"></i> Speak to the resource or conduct interview before hiring.</li>
          </ul>

          <h3>They Work Dedicatedly For You And Your Business Success</h3>
          <ul>
            <li><i class="icofont-check"></i> Communicate using phone, email, Skype or project management system.</li>
            <li><i class="icofont-check"></i> Your developers give undivided, dedicated attention to your projects.</li>
            <li><i class="icofont-check"></i> Get regular code check-ins and updates.</li>
          </ul>

          <h3>They Become A Reliable Extended Team For Your Business</h3>
          <ul>
            <li><i class="icofont-check"></i> Assign single or multiple tasks and projects.</li>
            <li><i class="icofont-check"></i> Scale up team / add resources as per your needs.</li>
            <li><i class="icofont-check"></i> Project manager assigned to review your team performance.</li>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

{% endblock content %}