{% extends '_base.html' %}

{% load static %}

{% block title %}Hire Laravel Developers{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>Hire Dedicated Laravel Developers & Programmers.</h1>
              <h2>Our Laravel Developers Provide Results-Driven Laravel Development Solutions To Maximize Your Business Outcomes.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/hero-img3.png' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Hire Laravel Developers</p>
      </div>

      <div class="row" data-aos="fade-left">

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <i class="ri-terminal-line" style="color: #ffa76e;"></i>
            <h3><a href="{% url 'laraveldev' %}">Laravel Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
            <i class="ri-braces-line" style="color: #11dbcf;"></i>
            <h3><a href="{% url 'phpdev' %}">PHP Development</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/details-1.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-4" data-aos="fade-up">
          <h3>Get Experience Of An In-house Laravel Developer At A Fraction Of The Cost.</h3>
          <p class="font-italic">
            Our talented Laravel developers have the experience and skills to build it right, the first time.
          </p>
          <p>
            Our experienced Laravel developers for hire create Laravel web development solutions that are highly functional, yet simple to suit your website and application requirements in terms of responsiveness and optimized for performance. 
          </p>
          <p>
            Hire dedicated Laravel developers from Webdavit to help you with your existing or new app development projects. Get high quality work, transparency, flexible working model and fast productive release cycles, at affordable costs as compared to our competitors.
          </p>
          <p>
            You can rely on us for our custom Laravel development services, including Laravel web application development, Laravel Integration Services, October CMS development, Laravel website development, portal development, Laravel migrations, support & maintenance.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/details-2.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>On Demand, Expert Laravel Developers You Can Trust For Your Next Project</h3>
          <p>
            Hire one of the best Laravel Developer. Webdavit is one of the leading Laravel development services provider, having 12+ years of PHP development experience and industry recognition. We provide world-class Laravel development services.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/hero-img2.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Laravel Developers For Hire On Flexible Engagement Models</h3>
          <p>
            You can hire our dedicated Laravel Developers on a full-time / hourly basis or per project basis, depending on your needs, schedule, and your budget. If you’re looking to hire dedicated Laravel developer, we will pair you with an in-house Laravel developer whose skillsets and expertise are a match for your project.
          </p>
          <p>
            We’re your full-cycle Laravel development services provider. We keep you informed of your project status by using latest tools for project management and collaboration, so you’re up to date with what work is being done and when. With our monthly dedicated Laravel web developer hiring contract, you get high quality, cost-effective and reliable Laravel development services.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/img.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Hire Expert Laravel Developers To Create High Performing Web Applications</h3>
          <p>
            Our web development team comprises of expert Laravel developers for hire having experience with latest technologies, and well established methodologies that facilitate and maximize your business growth.
          </p>
          <p>
            Being one of the leading Laravel development company, we provide our clients with remote dedicated Laravel developers for hire to help build your web application and custom software in an efficient and cost-effective way.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/img2.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>One Of The Best Laravel Developers In The Industry</h3>
          <p>
            Our Laravel developers for hire have the skills and experience to build it right the first time.
          </p>
          <p>
            We focus on the growth of your business by delivering custom Laravel web development solutions from the concept to the product launch.
          </p>
          <p>
            We are one of the leading Laravel development company that provides clients with remote dedicated Laravel developers for hire to build custom web application in an efficient and cost-effective way.
          </p>
          <p>
            Hire our highly qualified Laravel developers for successful project delivery on time. Our Laravel developers for hire expertise and experience to help you achieve your ultimate business goals.
          </p>
          <p>
            When you hire our Laravel developers, they combine technology with creativity to deliver robust, scalable, and customized solutions.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    We provide Laravel development services to deliver a highly functional custom tailored solution to maximize your business outcomes.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Our Laravel developers have experience working on numerous projects across various industries. Being one of the leading Laravel developers for hire, you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    Hire Laravel developers that following agile approach that accelerates the delivery of business value through a process of continuous planning and feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With experienced Laravel developers on board, our Laravel developers for hire are capable of executing most complex projects, covering aspects for performance, scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/features.svg' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

        <div class="section-title">
          <h2>Our Advantages</h2>
          <p>How Dedicated Hiring Works.</p>
        </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/details-4.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            
          <h3>We Find You The Suitable Programmer From Our In-house Team</h3>
          <ul>
            <li><i class="icofont-check"></i> We will match our in-house developers with your needs.</li>
            <li><i class="icofont-check"></i> Share project requirements and get estimates on tasks.</li>
            <li><i class="icofont-check"></i> Speak to the resource or conduct interview before hiring.</li>
          </ul>

          <h3>They Work Dedicatedly For You And Your Business Success</h3>
          <ul>
            <li><i class="icofont-check"></i> Communicate using phone, email, Skype or project management system.</li>
            <li><i class="icofont-check"></i> Your developers give undivided, dedicated attention to your projects.</li>
            <li><i class="icofont-check"></i> Get regular code check-ins and updates.</li>
          </ul>

          <h3>They Become A Reliable Extended Team For Your Business</h3>
          <ul>
            <li><i class="icofont-check"></i> Assign single or multiple tasks and projects.</li>
            <li><i class="icofont-check"></i> Scale up team / add resources as per your needs.</li>
            <li><i class="icofont-check"></i> Project manager assigned to review your team performance.</li>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

{% endblock content %}