{% extends '_base.html' %}

{% load static %}

{% block title %}Hire Web Developers{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>Hire Expert Web Developers to deliver Excellence & Value</h1>
              <h2>Our talented and dedicated Web Developers work with businesses, startups, agencies & partners, delivering Web development solutions to serve your business needs.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/hero-img2.png' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Hire Web Developers</p>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-code-box-line" style="color: #ffbb2c;"></i>
            <h3><a href="{% url 'wordpressdev' %}">Wordpress Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <i class="ri-html5-line" style="color: #5578ff;"></i>
            <h3><a href="{% url 'wordpressdev' %}">Wordpress Customizations</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
            <i class="ri-smartphone-line" style="color: #e80368;"></i>
            <h3><a href="{% url 'drupaldev' %}">Drupal Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <i class="ri-terminal-box-line" style="color: #e361ff;"></i>
            <h3><a href="{% url 'joomladev' %}">Joomla Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <i class="ri-terminal-line" style="color: #ffa76e;"></i>
            <h3><a href="{% url 'laraveldev' %}">Laravel Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
            <i class="ri-braces-line" style="color: #11dbcf;"></i>
            <h3><a href="{% url 'phpdev' %}">PHP Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
            <i class="ri-code-s-slash-line" style="color: #4233ff;"></i>
            <h3><a href="{% url 'pythondev' %}">Python Development</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/details-1.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-4" data-aos="fade-up">
          <h3>Get Experience Of An In-house Web Developer Without The Cost.</h3>
          <p class="font-italic">
            Our talented web developers have the experience and skills to build it right, the first time.
          </p>
          <p>
            Our expert web developers for hire create solutions that are highly functional, yet simple to suit your website and application requirements in terms of responsiveness and optimized for performance. Thus, hiring highly skilled and experienced web developers from My Web Programmer would help you achieve high quality work, transparency, flexible working model, and affordable costs as compared to our competitors. 
          </p>
          <p>
            You can rely on us for your custom web development needs, whether it’s website development, custom web software, web application development, web and enterprise portal development, application integration, content management system, or any other web development services you may require, you’ve come to the right place.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/details-2.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Why Hire a Dedicated Team of Developers?</h3>
          <p>
            It saves you time, cost, and effort. You get the benefit to instantly scale up and add on-demand development skills to your existing team. Minimized risk, more immediate and effective productivity.
          </p>
          <p>
            When you hire dedicated web developers with My Web Programmer, you get a dedicated team of expert web app developers who are ready to step up and provide you with what you need.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/git.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Web Developers For Hire On Flexible Engagement Models</h3>
          <p>
            If you are looking to hire dedicated web developers, we will pair you with an in-house web developer whose skillsets and expertise are a match for your project. You can hire our dedicated web Developers on a full-time / hourly basis or per project basis depending on your needs, schedule, and your budget.
          </p>
          <p>
            We’re your full-cycle web development services provider. We understand you require transparency, so we use latest tools for project management and collaboration allowing us to keep you informed of your project status, so you’re up to date with what work is being done and when. With our monthly dedicated web developer hiring contract, you get cost-effective, high quality and reliable services.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/features-4.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Expert Development Team With Flexible Contracts</h3>
          <p>
            Pay only for the development team you hire with us. You can hire full-time, part-time, and on-demand web developers.
          </p>
          <p>
            We deploy fully operational teams of web development talents for your website and software development projects perfectly fitted for your market, industry, and company culture.
          </p>
          <p>
            Focus on the growth of your business by hiring top web developers, architects, and software engineers perfectly fitted for your needs.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/details-4.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Benefits Of Hiring Our Web Developers</h3>
          <ul>
            <li><i class="icofont-check"></i> Dedicated Team of Developers</li>
            <li><i class="icofont-check"></i> Experts in Different Development Platforms</li>
            <li><i class="icofont-check"></i> Highly Cost-Effective</li>
            <li><i class="icofont-check"></i> Custom, Scalable and Flexible Plans</li>
            <li><i class="icofont-check"></i> Direct Communication</li>
            <li><i class="icofont-check"></i> Complete Transparency</li>
            <li><i class="icofont-check"></i> Dedicated Account Manager</li>
            <li><i class="icofont-check"></i> Quality Assurance</li>
            <li><i class="icofont-check"></i> Committed To Your Success</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    We provide expert software and web developers for hire to deliver a highly functional custom web development solutions to maximize your business outcomes.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Our web developers for hire have experience working on hundreds of projects across various industries. Being one of the leading web development company. you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    Hire web developers that follow agile approach that accelerates the delivery of business value through a process of continuous planning and feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With talented and experienced web developers on board, our web developers for hire are capable of executing complex projects, covering aspects for performance, scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/features.svg' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

        <div class="section-title">
          <h2>Our Advantages</h2>
          <p>How Dedicated Hiring Works.</p>
        </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/details-4.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            
          <h3>We Find You The Suitable Programmer From Our In-house Team</h3>
          <ul>
            <li><i class="icofont-check"></i> We will match our in-house developers with your needs.</li>
            <li><i class="icofont-check"></i> Share project requirements and get estimates on tasks.</li>
            <li><i class="icofont-check"></i> Speak to the resource or conduct interview before hiring.</li>
          </ul>

          <h3>They Work Dedicatedly For You And Your Business Success</h3>
          <ul>
            <li><i class="icofont-check"></i> Communicate using phone, email, Skype or project management system.</li>
            <li><i class="icofont-check"></i> Your developers give undivided, dedicated attention to your projects.</li>
            <li><i class="icofont-check"></i> Get regular code check-ins and updates.</li>
          </ul>

          <h3>They Become A Reliable Extended Team For Your Business</h3>
          <ul>
            <li><i class="icofont-check"></i> Assign single or multiple tasks and projects.</li>
            <li><i class="icofont-check"></i> Scale up team / add resources as per your needs.</li>
            <li><i class="icofont-check"></i> Project manager assigned to review your team performance.</li>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

{% endblock content %}