{% extends '_base.html' %}

{% load static %}

{% block title %}Joomla Development{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>Joomla Development</h1>
              <h2>Productive, reliable and professional Joomla development services to maximize your business outcomes.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/hero-img7.png' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Joomla Development</p>
      </div>

      <div class="row" data-aos="fade-left">

        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-code-box-line" style="color: #ffbb2c;"></i>
            <h3><a href="{% url 'joomladev' %}">Joomla Development</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="{% static 'assets/img/img5.webp' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" data-aos="fade-up">
          <h3>We Develop High Performing Joomla Websites & Extensions</h3>
          <p>
            Our Joomla developers are one of the best in business when it comes to custom Joomla development starting from basic theming to Joomla implementation and custom Joomla development.
          </p>
          <ul>
            <li><i class="icofont-check"></i> Custom Joomla Development Services</li>
            <li><i class="icofont-check"></i> Joomla Consulting</li>
            <li><i class="icofont-check"></i> Joomla Theme Design and Integration</li>
            <li><i class="icofont-check"></i> Joomla Upgradation Services</li>
            <li><i class="icofont-check"></i> Joomla Customization and Integration Services</li>
            <li><i class="icofont-check"></i> Custom Component Customization</li>
            <li><i class="icofont-check"></i> Joomla Troubleshooting and Support</li>
            <li><i class="icofont-check"></i> Joomla Maintenance Services</li>
          </ul>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/img3.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Results-Driven Joomla Development Services</h3>
          <p>
            We have been providing top-class Joomla development services that has enabled us to become preferred Joomla development company for businesses around the world.
          </p>
          <p>
            Our Joomla developers help businesses to enhance their user engagement, streamline their business processes, and increase their revenues.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/img6.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Expert Joomla Developers For Hire</h3>
          <p>
            Webdavit is one of the leading Joomla development organizations, with experience of servicing multiple business domains, and diversified clientele all over the world. Our Joomla developers for hire have strong experience, and are adept at tasks ranging from Joomla theaming to full-fledged custom Joomla implementations.
          </p>
          <p>
            Our process initiates with evaluating your Joomla development requirements, proposing the most optimum team having Joomla developers, and initiating your project according to your requirements.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/magento2.webp' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Hire Joomla Developers For Expertly Crafted Enterprise Solutions</h3>
          <p>
            Joomla is a one of the popular platforms for building large CMS based websites and web applications. It is a flexible, and easy to use framework.
          </p>
          <p>
            Our Joomla developers have the expertise necessary to develop effective, feature-rich web applications, Joomla websites, and solutions.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/product-screen-1.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Joomla Development Company That Builds To Propel your Business</h3>
          <p>
            Our Joomla developers have the expertise, and skills to help you build your custom Joomla websites and solutions to meet your business requirements.
          </p>
          <p>
            Hire Joomla Developers on flexible engagement models. You can hire on a per project basis, monthly dedicated Joomla developer augmentation, full-time, part-time, or hourly basis, whatever works best for you.
          </p>
          <p>
            Get in touch with us today to discuss your Joomla development needs, and one our business consultants will get in touch with you to help in getting your Joomla website up and running.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    We provide full-cycle Joomla development services to deliver a highly functional custom tailored solution to maximize your business outcomes.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Our Joomla developers have experience working on numerous projects across various industries. Being a professional Joomla Development Company, you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    Hire Joomla developers who follow iterative approach to accelerate the delivery of business value through a process of continuous planning and feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With experienced Joomla developers on board, our Joomla development company is capable of executing complex projects, covering aspects for performance, scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/details-1.png' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

{% endblock content %}