{% extends '_base.html' %}

{% load static %}

{% block title %}Laravel Development{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>Laravel Development</h1>
              <h2>Productive, reliable custom Laravel development services to maximize your business outcomes.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/hero-img3.png' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Laravel Development</p>
      </div>

      <div class="row" data-aos="fade-left">

        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-code-box-line" style="color: #ffbb2c;"></i>
            <h3><a href="{% url 'laraveldev' %}">Laravel Development</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="{% static 'assets/img/about-extra-2.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" data-aos="fade-up">
          <h3>Laravel Development Company That Builds According To Your Business Requirements</h3>
          <p>
            Laravel is an efficient and robust PHP framework that allows us to create high-quality web applications that are user friendly and with maintainable code.
          </p>
          <p>
            Laravel Framework is one of our team’s favorite PHP frameworks for building super web applications. With better code foundation, expressive syntax, more robust features, and maintainability, Laravel is a secure and reliable PHP platform built for rapid web development.
        </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/design-life.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Custom Laravel Development Done Right The First Time</h3>
          <p>
            With us being a professional Laravel Development Company, you can benefit with lower operational and development service costs, access to experienced Laravel developers, cutting-edge technology, top-notch Laravel development services, and rapid development services.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/intro-img2.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Results-Driven Laravel Development Services</h3>
          <p>
            Better readability and excellent understanding of source code set our software and websites apart, ensuring high-quality Laravel application development. We write clean codes and APIs for easy version management and code maintenance. We follow a user-friendly programming environment that allows multiple programmers to work together for fast and efficient results.
          </p>
          <p>
            If you are seeking a Laravel Development Company for your custom Laravel application development, My Web Programmer has expert Laravel developers and dedication to deliver website solutions to maximize your business results.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/iphone-hand.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Laravel Development Company Drives Value To Your Business</h3>
          <ul>
            <li><i class="icofont-check"></i> Laravel Custom Website Development: Enterprise, SaaS, Social Media, eCommerce and etc.</li>
            <li><i class="icofont-check"></i> Laravel Application Development</li>
            <li><i class="icofont-check"></i> Laravel Module & Package Development</li>
            <li><i class="icofont-check"></i> Laravel API/RestFull API Development</li>
            <li><i class="icofont-check"></i> Integration of Laravel apps with external API</li>
            <li><i class="icofont-check"></i> Google App Engine Cloud Platform Development</li>
            <li><i class="icofont-check"></i> Migration to Laravel</li>
            <li><i class="icofont-check"></i> Lumen Development</li>
            <li><i class="icofont-check"></i> Support & Maintenance of Laravel Projects</li>
          </ul>
        </div>

      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/img4.webp' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>We Develop High Performing Laravel Applications</h3>
          <p>
            With our results-driven Laravel development services, you get customized, scalable, robust, out-of-the-box, and feature-rich custom Laravel web development solutions.
          </p>
          <p>
            Being one of the leading Laravel Development Company, we help you gain a competitive edge by developing high-end website and impressive Laravel applications.
          </p>
          <p>
            Our Laravel Developers for Hire make use of the latest versions and technologies to launch and deploy new concepts that help businesses increase productivity and simplify the processes.
          </p>
          <p>
            We are one of the leading Laravel web development company having Laravel Developers with hands-on experience to provide the cutting edge solutions for your business.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    We provide full-cycle Laravel Development Services to deliver a highly functional custom Laravel solution to maximize your business outcomes.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Hire Laravel Developers having experience working on numerous of projects across various industries. With our Laravel Development Services you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    Being a professional Laravel Development Company we follow iterative approach that accelerates the delivery of business value through a process of continuous feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With experienced Laravel developers for hire on board, our Laravel Development Company is capable of executing most complex projects, covering aspects for performance, scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/features-2.svg' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

{% endblock content %}