{% extends '_base.html' %}

{% load static %}

{% block title %}Magento Development{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>Magento Development</h1>
              <h2>Achieve online success with experienced Magento developers.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/magento1.webp' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Magento Development</p>
      </div>

      <div class="row" data-aos="fade-left">

        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-code-box-line" style="color: #ffbb2c;"></i>
            <h3><a href="{% url 'magentodev' %}">Magento Development</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="{% static 'assets/img/magento2.webp' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" data-aos="fade-up">
          <h3>Professionally Designed Magento Stores</h3>
          <p>
            Our experienced Magento developers for hire undertake projects ranging from Magento theme development, Magento e-commerce development to custom Magento strorefront development. We are a full-cycle Magento development firm providing custom Magento development services, so you can achieve online success.
          </p>
          <ul>
            <li><i class="icofont-check"></i> Custom Magento Development Services</li>
            <li><i class="icofont-check"></i> Magento Consulting</li>
            <li><i class="icofont-check"></i> Magento Theme Design and Integration</li>
            <li><i class="icofont-check"></i> Magento Upgradation Services</li>
            <li><i class="icofont-check"></i> Magento Customization and Integration Services</li>
            <li><i class="icofont-check"></i> Custom Magento Extension Development</li>
            <li><i class="icofont-check"></i> Magento Troubleshooting and Support</li>
            <li><i class="icofont-check"></i> Magento Maintenance Services</li>
          </ul>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/joomla1.webp' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Results-Driven Magento Development Services</h3>
          <p>
            Being one of the leading web development company, we provide top-notch Magento development services to design, develop, and deploy stunning online eCommerce stores.
          </p>
          <p>
            We help clients to create enterprise-level, beautiful ecommerce websites with powerful features.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/offshore.webp' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Let Us Help You Grow Your E-commerce Business</h3>
          <p>
            Magento has taken over the e-Commerce market by storm, and is one of the most popular open source commercial storefront available as on date. With millions of downloads and hundreds of thousands of installations ranging from relatively small storefronts to large scale online eCommerce portals; hire Magento developers if you are not looking at re-inventing the wheel and if you want a proven solution.
          </p>
          <p>
            Our expert Magento programmers can deliver feature-rich result-oriented Magento storefronts, and have experience in working with various Magento flavors including Magento Go, Magento Community and Magento Enterprise. We’ve worked on various Magento projects and our Magento developers for hire would be glad to assist you on your Magento project.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/mobile2.webp' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Magento Development Company That Builds To Propel your Business</h3>
          <p>
            Magento, recently acquired by Adobe, is one of the leading PHP based framework that companies leverage to create enterprise-level eCommerce solutions.
          </p>
          <p>
            We understand you need a converting eCommerce website to grow your business. And we are here to help.
          </p>
          <p>
            We provide full-cycle Magento and eCommerce development services, to enhance user engagement on your eCommerce website, streamline your business processes, and increase your revenues.
          </p>
          <p>
            Whether you are looking for Mangento theme development, custom Magento development, Magento module development, extension development, Magento migration, or anything else, you can rely on our Magento development services.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    We provide full-cycle Magento development services to deliver a highly functional and converting eCommerce websites to maximize your business outcomes.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Our Magento developers have experience working on numerous projects. Being a professional Magento Development Company, you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    Hire Magento developers who follow iterative approach to accelerate the delivery of business value through a process of continuous planning and feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With talented Mangeto developers on board, our Magento development company is capable of executing complex projects, covering aspects for performance, scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/details-3.png' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

{% endblock content %}