{% extends '_base.html' %}

{% load static %}

{% block title %}Mobile Development{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>Custom Web Development</h1>
              <h2>Reliable, engaging, and scalable custom web development services to maximize your business outcomes.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/hero-img2.png' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Custom Web Development</p>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-code-box-line" style="color: #ffbb2c;"></i>
            <h3><a href="">Wordpress Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <i class="ri-html5-line" style="color: #5578ff;"></i>
            <h3><a href="">Wordpress Customizations</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
            <i class="ri-smartphone-line" style="color: #e80368;"></i>
            <h3><a href="">Drupal Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <i class="ri-terminal-box-line" style="color: #e361ff;"></i>
            <h3><a href="">Joomla Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3><a href="">Django Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <i class="ri-terminal-line" style="color: #ffa76e;"></i>
            <h3><a href="">Laravel Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
            <i class="ri-braces-line" style="color: #11dbcf;"></i>
            <h3><a href="">PHP Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
            <i class="ri-code-s-slash-line" style="color: #4233ff;"></i>
            <h3><a href="">Python Development</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/details-1.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-4" data-aos="fade-up">
          <h3>Custom Web Development Done Right The First Time.</h3>
          <p class="font-italic">
            Custom web application development gives your business the benefit of having personalized solutions according to your business needs.
          </p>
          <p>
            We are an experienced web development company offering custom web application development services that fits your unique business strategies and needs. 
          </p>
          <p>
            Being one of the leading custom web development company, our experts have experience with enhanced frameworks, new technologies, and well-established methodologies for rapid web application development that facilitate your business growth and transformation.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/details-2.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Web Development With Research And Strategy</h3>
          <p>
            Our website and custom web application development projects start with a research and discovery phase. 
            We analyze your requirements, research your business, and plan a roadmap we will follow.
          </p>
          <p>
            Being one of the leading web development company, we can deliver a highly functional custom web application, 
            website, and web portal specific to your business processes, in order to streamline and maximize your business outcomes.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/details-3.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Web Development Company That Builds According To Your Business Requirements</h3>
          <p>
            Our processes of custom web app development perfectly fits 
            with high and increased demand of web and mobile technologies 
            that ensures you the highly customized functionality.
          </p>
          <p>
            It does not matter if you need to build a web app from scratch, 
            streamline current front-end functionality, 
            or migrate your legacy backend, we provide web 
            app development services to help you build your 
            custom web application in a cost-effective and efficient way.
          </p>
          <p>
            Responsive code that makes your websites 
            look good on all devices (desktops, tablets, and phones). 
            Created with mobile specialists.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/details-4.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>We Develop High Performing Web Applications & Websites</h3>
          <ul>
            <li><i class="icofont-check"></i> Open and smart application architecture that allows high scalability and productivity of solution.</li>
            <li><i class="icofont-check"></i> High quality custom web application development which enables you to reduce the entire ownership cost.</li>
            <li><i class="icofont-check"></i> Fully Functional and usable web applications that matches your business requirements and prospects.</li>
            <li><i class="icofont-check"></i> Stabilization, deployment and continuing support & maintenance of the application delivered.</li>
            <li><i class="icofont-check"></i> QA (Quality Assurance) procedures through the complete software development process.</li>
            <li><i class="icofont-check"></i> Stabilization, deployment and continuing support & maintenance of the application delivered.</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xl-5 col-lg-6" data-aos="fade-right">
          <img src="{% static 'assets/img/details-1.png' %}" class="img-fluid" alt="">
          
        </div>

        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
          <h3>Results-Driven Custom Web Development Services.</h3>
          <p>We build custom web applications, solutions, and systems that improve the way you do business.</p>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">Bespoke Web Applications</a></h4>
            <p class="description">We are your full-service web development partner, capable of designing, developing, and maintaining Bespoke web applications.</p>
          </div>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="bx bx-gift"></i></div>
            <h4 class="title"><a href="">Reliable</a></h4>
            <p class="description">We deliver high-quality solutions by combining technology expertise, business domain knowledge, and proven methodologies.</p>
          </div>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="bx bx-atom"></i></div>
            <h4 class="title"><a href="">Guaranteed Success</a></h4>
            <p class="description">We believe our success is in our client’s success, so we just do great work and revolve our development process entirely around your needs.</p>
          </div>

          <div class="icon-box text-center text-lg-left">
            <a href="{% url 'quote' %}" class="btn-c">Request a Consultation</a>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    We provide full-cycle web application development services to deliver a highly 
                    functional custom web application to maximize your business outcomes.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Our web application developers have experience working on hundreds of projects across 
                    various industries. With our custom web development services, you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    We are a web development company that follows iterative approach to accelerate the 
                    delivery of business value through a process of continuous planning and feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With experienced custom web application developers on board, our web development firm is 
                    capable of executing most complex projects, covering aspects for performance, 
                    scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/features.svg' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

{% endblock content %}