{% extends '_base.html' %}

{% load static %}

{% block title %}Offshore Software Development{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>Offshore Software Development</h1>
              <h2>Webdavit is an offshore software development company providing dedicated teams of experienced developers in the most popular technologies and frameworks.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/img2.png' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Offshore Software Development</p>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-code-box-line" style="color: #ffbb2c;"></i>
            <h3><a href="">Agile Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <i class="ri-html5-line" style="color: #5578ff;"></i>
            <h3><a href="">DevOps Deployment</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
            <i class="ri-smartphone-line" style="color: #e80368;"></i>
            <h3><a href="">Rapid Application Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <i class="ri-terminal-box-line" style="color: #e361ff;"></i>
            <h3><a href="">Waterfall Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3><a href="">Django Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <i class="ri-terminal-line" style="color: #ffa76e;"></i>
            <h3><a href="">Laravel Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
            <i class="ri-braces-line" style="color: #11dbcf;"></i>
            <h3><a href="">PHP Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
            <i class="ri-code-s-slash-line" style="color: #4233ff;"></i>
            <h3><a href="">Python Development</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="{% static 'assets/img/hero-img8.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" data-aos="fade-up">
          <h3>Offshore Software Developers You Can Trust.</h3>
          <p class="font-italic">
            Our software development outsourcing model matches your culture & time, to help you get things done.
          </p>
          <p>
            Being one of the leading software outsource company that provides dedicated teams of exceptional 
            offshore software developers to innovative companies across the world. Our software development 
            outsourcing model matches your culture & time, to help you get things done.
          </p>
          <p>
            Need a rock-solid, high volume, high performance web app? We’ve got you covered. With our 
            offshore software development services, we provide full stack offshore software developers, 
            utilizing agile software development best practices, can work on your most complex projects 
            and get it done right the first time.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/hero-img9.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Results-Driven Offshore Software Development</h3>
          <p>
            Research shows that by offshoring software projects, companies are able to half the cost they 
            would pay in their home market. Moreover, businesses outsource projects to cut costs 
            and achieve the benefits of offshore software development.
          </p>
          <p>
            With 11+ years of experience in offshore software development, My Web Programmer has the 
            expertise to deploy top-notch software solutions for the most complex requirements.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/hero-img4.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Your Extended Offshore Software Development Team</h3>
          <p>
            Our offshore software developers are an extension of your in-house team—and a part of your family. 
            You can count on us as your extended development team providing top quality and affordable offshore 
            software development services.
          </p>
          <p>
            We deliver full life-cycle offshore software development services that align your product 
            roadmap with your business goals. Our offshore software developers become your extended team 
            members, working directly with you.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/hero-img5.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Offshore Development Center Providing Quality Talent</h3>
          <p>
            Because you can’t have great technology without great talent. Our offshore software developers 
            love to explore cutting edge technologies to help building something amazing that works, and 
            solves our client’s biggest challenges.
          </p>
          <p>
            Our trusted & talented offshore development teams are available for any type of project, 
            from prototyping to full-scale development, and integrations. We follow client-focused approach 
            and offer flexible payments (per hour, week or month) depending on your project’s requirements.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xl-5 col-lg-6" data-aos="fade-right">
          <img src="{% static 'assets/img/hero-img7.png' %}" class="img-fluid" alt="">
          
        </div>

        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
          <h3>Offshore Software Developers As Part Of Your Team</h3>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">Bespoke Software Applications</a></h4>
            <p class="description">
                We are one of the leading offshore software development company that delivers highly 
                functional custom web application, web portals, intranets, custom software, websites, 
                and mobile apps specific to your business requirements.
            </p>
          </div>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="bx bx-gift"></i></div>
            <h4 class="title"><a href="">Reliable</a></h4>
            <p class="description">
                Our offshore software developers go through a rigorous vetting process – with the ability to 
                test skills for dozens of different technologies and roles. Then we dig deeper to assess 
                their collaboration and problem solving skills, and determine how their experience fits with 
                your requirements.
            </p>
          </div>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="bx bx-atom"></i></div>
            <h4 class="title"><a href="">Guaranteed Success</a></h4>
            <p class="description">
                We’re your offshore software development company, helping you scale fast with your very own 
                talented, full-time dev team. We provide software development outsourcing at its best.
            </p>
          </div>

          <div class="icon-box text-center text-lg-left">
            <a href="{% url 'quote' %}" class="btn-c">Request a Consultation</a>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    We provide full-cycle offshore software development services to deliver a highly 
                    functional custom tailored solution to maximize your business outcomes.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Our offshore software developers have experience working on hundreds of projects across various industries. With our software outsourcing services you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    We strive to achieve maximum effect by following iterative approach that accelerates the delivery of business value through a process of continuous planning and feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With talented and experienced developers on board, our development team is capable of executing most complex and demanding projects, covering aspects for performance, scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/features-2.svg' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

{% endblock content %}