{% extends '_base.html' %}

{% load static %}

{% block title %}PHP Development{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>PHP Development</h1>
              <h2>Productive, reliable and professional custom PHP development services to maximize your business outcomes.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/img2.png' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>PHP Development</p>
      </div>

      <div class="row" data-aos="fade-left">

        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-code-box-line" style="color: #ffbb2c;"></i>
            <h3><a href="">Wordpress Development</a></h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
            <i class="ri-smartphone-line" style="color: #e80368;"></i>
            <h3><a href="">Drupal Development</a></h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <i class="ri-terminal-box-line" style="color: #e361ff;"></i>
            <h3><a href="">Joomla Development</a></h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <i class="ri-terminal-line" style="color: #ffa76e;"></i>
            <h3><a href="">Laravel</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="{% static 'assets/img/img.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" data-aos="fade-up">
          <h3>PHP Web Development Company That Builds According To Your Business Requirements</h3>
          <p class="font-italic">
            Our PHP developers for hire have strong experience building superior PHP web applications of varying complexities.
          </p>
          <ul>
            <li><i class="icofont-check"></i> Bespoke Business website.</li>
            <li><i class="icofont-check"></i> Software as a Service application development.</li>
            <li><i class="icofont-check"></i> E-commerce websites, shopping carts and product catalogs.</li>
            <li><i class="icofont-check"></i> Content Management System (CMS) and Customer Relationship Management (CRM).</li>
            <li><i class="icofont-check"></i> Social networking sites or community portal development.</li>
            <li><i class="icofont-check"></i> Custom Enterprise PHP application development.</li>
            <li><i class="icofont-check"></i> Classified ads and directory website.</li>
          </ul>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/hero-img6.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Results-Driven PHP Development Services</h3>
          <p>
            Being one of the leading PHP web development company, we have expertise in providing high-performance, scale-able, and secure custom PHP web applications of any complexity.
          </p>
          <p>
            We can deliver highly functional custom PHP development services to accommodate your specialized business needs.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/services.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>We Develop High Performing PHP Web Applications</h3>
          <p>
            We have PHP programmers having vast experience, who provide effective, efficient, secure and scalable custom PHP development services to our clients. As a reliable PHP development firm, our PHP developers for hire are outstanding in custom PHP web development, custom software development, SaaS (Software as a Service) websites, customization in WordPress/Drupal/Joomla/other open source frameworks, quality assured programming, MVC (Laravel, CodeIgniter, CakePHP) frameworks and web application maintenance.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/hero-img7.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>PHP Development Company That Drives Value To Your Business</h3>
          <p>
            Developing high performing web applications can be done quickly and with ease by utilizing custom PHP development. Moreover, many globally reputed brands choose PHP development services over other programming languages.
          </p>
          <p>
            We understand that every business has unique requirements, that is why we provide full-cycle custom php development services that makes you stand out from the competition, and add exceptional value to your business.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/hero-img4.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Custom PHP Development Done Right The First Time</h3>
          <p>
            My Web Programmer is an industry recognized PHP development company believes in inventing and providing cutting-edge solutions for solving business challenges.
          </p>
          <p>
            From the complex demands of enterprises to the challenges of rising startups, our end-to-end PHP development services fulfills the business needs of our clients comprehensively.
          </p>
          <p>
            Our PHP development services include web application development, PHP based CMS development, custom PHP development, corporate website development, web portals, intranets, E-commerce development, custom software development, and more.
          </p>
          <p>
            Our process is simple yet effective, we understand your business requirements and assign you the best-fit PHP developers to form a result-oriented team for you.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    We provide full-cycle custom PHP development services to deliver a 
                    highly functional custom tailored solution to maximize your business outcomes.
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Our PHP developers have experience working on various projects across 
                    numerous industries. With our PHP development services, 
                    you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    Professional PHP web development company that strives to achieve maximum effect by following iterative approach to accelerate the delivery of business value through a process of continuous feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With talented and experienced PHP developers on board, our PHP development company is capable of executing most complex projects, covering aspects for performance, scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/features-3.svg' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

{% endblock content %}