{% extends '_base.html' %}

{% load static %}

{% block title %}Python Development{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>Python Development</h1>
              <h2>We deliver a wide range of custom Python solutions to build high-performance, innovative and scalable next gen apps to maximize your business outcomes.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/git.svg' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Python Development</p>
      </div>

      <div class="row" data-aos="fade-left">

        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-code-box-line" style="color: #ffbb2c;"></i>
            <h3><a href="{% url 'pythondev' %}">Python Development</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="{% static 'assets/img/Python.webp' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" data-aos="fade-up">
          <h3>Python Is A Great Choice For All Businesses</h3>
          <p>
            We leverage the power of Python frameworks by taking advantage of its mature libraries, stellar performance and commitment to security, to build feature-rich web solutions that are customized according to your business needs.
          </p>
          <p>
            We provide end-to-end Python development services aimed to satisfy our clients’ needs and give measurable results. Whatever you’re to develop wireframes, a prototype, MVP or a live application — Python is an excellent choice for rapid development of simple to complex solutions that need faster time-to-market.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/customer-survey.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Results-Driven Python Development Services</h3>
          <p>
            Being one of the leading software development company, My Web Programmer provides a spectrum of Python development services for accelerating business performance.
          </p>
          <p>
            Our expert Python developers for hire can build all types of custom python applications specific to your business requirements.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/developer.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Leveraging Python To Build Enterprise-grade Applications</h3>
          <p>
            Being an experienced Python development company, our development team comprises of expert Python developers having strong custom Python development experience to build enterprise-grade applications, backend systems, web portals, custom software, and more.
          </p>
          <p>
            Python is an excellent choice because of its faster performance, enhanced security, high scalibility, mature libraries and 3rd party components to create simple websites to data-driven enterprise systems. Moreover, Python support and maintenance is swift and straightforward.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/chatting.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Start Up With Python For Your Success</h3>
          <p>
            Being hailed as the programming language of the future, Python developers are using it to develop almost everything from support systems, machine learning, to robotics.
          </p>
          <p>
            Python development can solve business challenges your idea and requirements entail, enabling faster time to market and provide you with early ROI. Google, NASA, Instagram, Mozilla, Quora, and more are either running on Python or used part of it to support their business.
          </p>
        </div>

      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/scrum.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Our Reliable Python Development Services</h3>
          <ul>
            <li><i class="icofont-check"></i> Python/Django Development</li>
            <li><i class="icofont-check"></i> Custom Python Development and Solutions</li>
            <li><i class="icofont-check"></i> Python Website & Application Development</li>
            <li><i class="icofont-check"></i> React.js, Node.js Implementation</li>
            <li><i class="icofont-check"></i> Plone and Zope Development</li>
            <li><i class="icofont-check"></i> Google App Engine Cloud Platform Development</li>
            <li><i class="icofont-check"></i> Pyramid Framework Development</li>
            <li><i class="icofont-check"></i> Python Development for Startups & Enterprises</li>
            <li><i class="icofont-check"></i> Python Web Crawler Development</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    We provide full-cycle Python development services to deliver a highly functional custom tailored Python solution to maximize your business outcomes.
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                  Hire experienced Python developers having working on hundreds of numerous across various industries. With our Python development services you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    We strive to achieve maximum effect by following iterative approach that accelerates the delivery of business value through a process of continuous planning and feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With talented and expert Python developers on board, our Python development company is capable of executing most complex projects, covering aspects for performance, scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/details-3.png' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

{% endblock content %}