{% extends '_base.html' %}

{% load static %}

{% block title %}ReactJS Development{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>ReactJS Development</h1>
              <h2>We build cutting edge and interactive UI web apps using React JS to maximize your business outcomes.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/react-js.webp' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>ReactJS Development</p>
      </div>

      <div class="row" data-aos="fade-left">

        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-code-box-line" style="color: #ffbb2c;"></i>
            <h3><a href="{% url 'reactjsdev' %}">ReactJS Development</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="{% static 'assets/img/features6.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" data-aos="fade-up">
          <h3>Leverage React JS To Build Enterprise-grade Applications</h3>
          <p>
            React.js is a very popular high performing JavaScript library capable to build large scale web-applications with interactive UIs. ReactJS is a front end library developed and maintained by Facebook, and currently being used at various organizations like Instagram, Netflix, Yahoo, Facebook, Dropbox and many other corporations and businesses.
          </p>
          <p>
            Webdavit is one of the leading web and software development company providing React JS development services to build cutting edge web apps that are customized according to your business needs.
        </p>
        <p>
            Our React JS developers for hire have strong experience building high performance applications of varying complexities.
        </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/img7.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Results-Driven React JS Development Services</h3>
          <p>
            React is one of the best frontend tools to create good-looking user interfaces, dynamic web pages, and ensuring high performance.
          </p>
          <p>
            Hire React JS developers from us to create scalable, lightweight, and high performance applications.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/img2.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>We Develop High Performing React JS Applications</h3>
          <p>
            We are an experienced React JS development company. Our development team comprises of expert React.js developers having strong React JS experience to create interactive UIs that facilitate your business growth.
          </p>
          <p>
            React JS allows developers to build high performing large scale web applications that can handle data updates without page reloading. React JS processes user interfaces in applications with an aim to provide speed, scalability and flexibility.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/img4.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Our Reliable React JS Development Services</h3>
          <ul>
            <li><i class="icofont-check"></i> ReactJS UI/UX Development</li>
            <li><i class="icofont-check"></i> Frontend Development using ReactJS</li>
            <li><i class="icofont-check"></i> Web Developmet Using React / Redux</li>
            <li><i class="icofont-check"></i> Interactive ReactJS UI Development</li>
            <li><i class="icofont-check"></i> ReactJS App Development</li>
            <li><i class="icofont-check"></i> ReactJS Plugin Development</li>
            <li><i class="icofont-check"></i> ReactJS Mobile Development</li>
            <li><i class="icofont-check"></i> Customization Services</li>
            <li><i class="icofont-check"></i> Maintenance & Support</li>
          </ul>
        </div>

      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/product-features.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>React JS Development Company That Builds According To Your Business Requirements</h3>
          <p>
            ReactJS is a light weight, modern and ultrafast JavaScript framework backed by Facebook. It allows to create robust and scalable web/mobile app solutions. Various big brands are using React JS because of its high performance, speed, search engine optimization, easy migration, improved debugging, code reusability and it’s easier to learn & test.
          </p>
          <p>
            Being one of the leading web application development company providing React JS development services, our React JS developers provide custom React JS solutions from the concept to the product launch that will benefit you  in achieving your ultimate business goals and in keeping ahead of your competitors.
          </p>
          <p>
            If you’re looking for a React JS development company, you’ve come to the right place. Our talented and experienced React JS developers work with startups, businesses, agencies & enterprises, delivering ReactJS development solutions to serve your business needs.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    We provide full-cycle React JS development services to deliver a highly functional custom tailored solution to maximize your business outcomes.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Our React JS developers have experience working on numerous projects across various industries. Being one of the leading React JS development company, you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    We follow iterative approach for React JS development that accelerates the delivery of business value through a process of continuous planning and feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With experienced React JS developers on board, our React JS development company is capable of executing complex projects, covering aspects for performance, scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/features-3.svg' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

{% endblock content %}