{% extends '_base.html' %}

{% load static %}

{% block title %}Software Development{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>Custom Software Development</h1>
              <h2>Reliable, effective, scalable, and impressive custom software development services to maximize your business outcomes.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/img2.png' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Custom Software Development</p>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-code-box-line" style="color: #ffbb2c;"></i>
            <h3><a href="">Agile Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <i class="ri-html5-line" style="color: #5578ff;"></i>
            <h3><a href="">DevOps Deployment</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
            <i class="ri-smartphone-line" style="color: #e80368;"></i>
            <h3><a href="">Rapid Application Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <i class="ri-terminal-box-line" style="color: #e361ff;"></i>
            <h3><a href="">Waterfall Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3><a href="">Django Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <i class="ri-terminal-line" style="color: #ffa76e;"></i>
            <h3><a href="">Laravel Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
            <i class="ri-braces-line" style="color: #11dbcf;"></i>
            <h3><a href="">PHP Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
            <i class="ri-code-s-slash-line" style="color: #4233ff;"></i>
            <h3><a href="">Python Development</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="{% static 'assets/img/hero-img8.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" data-aos="fade-up">
          <h3>We Build Custom Software Right The First Time.</h3>
          <p class="font-italic">
            Custom software development gives your business the benefit of having personalized solutions 
            according to your business needs.
          </p>
          <p>
            Custom Software Development Services at Webdavit are about delivering stunning results that 
            differentiate your business from competitors, drive revenue, and add exceptional value to your 
            business.
          </p>
          <p>
            Custom software development is an effective approach used by companies that have unique business 
            processes that aren’t available in off-the-shelf technology products.
          </p>
          <p>
            Based on many years of experience, we know that every business has a different software and 
            hardware environment. That is why we provide full-cycle custom software development services 
            to accommodate your specialized business needs.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/hero-img9.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Through Careful Research And Strategy</h3>
          <p>
            Our software development and consulting projects start with a research and discovery phase. 
            We analyze your requirements, research your business, and plan a roadmap we will follow.
          </p>
          <p>
            Being one of the leading custom software development company, we can deliver a highly functional 
            custom tailored software solution specific to your business processes and current needs, in order 
            to maximize your business outcomes.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/hero-img4.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Software Development Company That Builds According To Your Business Requirements</h3>
          <p>
            Our experts work with you at every step of the development process, from concept design to product 
            launch; in order to develop the product right the first time. We follow a collaborative approach to 
            think creatively in order to solve your complex problems.
          </p>
          <p>
            Our experienced development team builds applications that make life easier by automating the 
            workflow of companies. We develop custom business software, scalable software applications, 
            custom web applications, and business automation software tailored to match your unique 
            requirements.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/hero-img5.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Custom Software Solutions That Drive Value To Your Business</h3>
          <p>
            From customizing pre-developed applications to developing custom software according to your 
            requirements, we can provide reliable, cost-effective custom solutions to be your long-term 
            partner that drive value to your business.
          </p>
          <ul>
            <li><i class="icofont-check"></i> Bespoke Application Development.</li>
            <li><i class="icofont-check"></i> Application Customization & Integration.</li>
            <li><i class="icofont-check"></i> Legacy Software Enhancement & Migration.</li>
            <li><i class="icofont-check"></i> Application Continuous Improvement & Support.</li>
            <li><i class="icofont-check"></i> Project Rescue.</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xl-5 col-lg-6" data-aos="fade-right">
          <img src="{% static 'assets/img/hero-img7.png' %}" class="img-fluid" alt="">
          
        </div>

        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
          <h3>We Provide Agile Software Development Services.</h3>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">Bespoke Software Applications</a></h4>
            <p class="description">
                Being one of the leading software development firms, our end-to-end custom software solutions 
                are tailored to analyze where you are and where you need your software to be for the future.
            </p>
          </div>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="bx bx-gift"></i></div>
            <h4 class="title"><a href="">Reliable</a></h4>
            <p class="description">
                Our team of expert software developers build, test, deploy, manage, protect, and optimize 
                enterprise-level custom software solutions ensuring they’re always up and running, 
                and position your company for continuous success.
            </p>
          </div>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="bx bx-atom"></i></div>
            <h4 class="title"><a href="">Guaranteed Success</a></h4>
            <p class="description">
                Our software development experts work as hands-on partners in helping businesses grow and 
                have built some of the coolest products for a wide range of clients of different 
                sizes and industries.
            </p>
          </div>

          <div class="icon-box text-center text-lg-left">
            <a href="{% url 'quote' %}" class="btn-c">Request a Consultation</a>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    We provide full-cycle Bespoke software development services to deliver a highly 
                    functional custom web application to maximize your business outcomes.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Our software application developers have experience working on hundreds of projects across 
                    various industries. With our custom web development services, you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    We are a web development company that follows iterative approach to accelerate the 
                    delivery of business value through a process of continuous planning and feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With experienced custom software application developers on board, our software development firm is 
                    capable of executing most complex projects, covering aspects for performance, 
                    scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/features-2.svg' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

{% endblock content %}