{% extends '_base.html' %}

{% load static %}

{% block title %}WordPress Development{% endblock title %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
              <h1>Custom Wordpress Development</h1>
              <h2>Productive, reliable and engaging custom WordPress Development services to maximize your business outcomes.</h2>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="{% static 'assets/img/wordpress-development.webp' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

  </section><!-- End Hero -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>WordPress Development</p>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-reactjs-line" style="color: #ffbb2c;"></i>
            <h3><a href="">Theme Development</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <i class="ri-angularjs-line" style="color: #5578ff;"></i>
            <h3><a href="">Theme Customizations</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="{% static 'assets/img/img1.webp' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" data-aos="fade-up">
          <h3>We Develop High Quality WordPress Websites And Plugins</h3>
          <p class="font-italic">
            Custom WordPress Theme development that gives your business the benefit of having a personalized outlook 
            that fits your business needs.
          </p>
          <ul>
            <li><i class="icofont-check"></i> Bespoke Business website.</li>
            <li><i class="icofont-check"></i> Software as a Service application development.</li>
            <li><i class="icofont-check"></i> E-commerce websites, shopping carts and product catalogs.</li>
            <li><i class="icofont-check"></i> Content Management System (CMS) and Customer Relationship Management (CRM).</li>
            <li><i class="icofont-check"></i> Social networking sites or community portal development.</li>
            <li><i class="icofont-check"></i> Custom Enterprise PHP application development.</li>
            <li><i class="icofont-check"></i> Classified ads and directory website.</li>
          </ul>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/img3.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Results-Driven WordPress Development Services</h3>
          <p>
            Being a professional custom WordPress development company, we take time in understanding your 
            business and marketing objectives, to help you get intuitive and powerful user experiences.
          </p>
          <p>
            Webdavit is an industry-recognized WordPress Development Agency that helps businesses grow 
            revenue and boost customer engagement.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="{% static 'assets/img/wordpress-plugins.webp' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Custom WordPress Development</h3>
          <p>
            WordPress provides extendable functionality with plug-ins. WordPress plugin development lets you 
            create an ecommerce site or a video website, membership websites, a market portal, 
            a site for social networking, a classified website or even a portal for crowdfunding, 
            WordPress has every type of solutions for you.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="{% static 'assets/img/wordpress-development1.webp' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Why WordPress Is A Great Choice</h3>
          <p>
            Handle everything from the admin dashboard.
          </p>
          <ul>
            <li><i class="icofont-check"></i> Easy administration</li>
            <li><i class="icofont-check"></i> User-friendly Content Management System</li>
            <li><i class="icofont-check"></i> Website management without HTML</li>
            <li><i class="icofont-check"></i> Custom development capability</li>
            <li><i class="icofont-check"></i> Thousands of plugins available</li>
            <li><i class="icofont-check"></i> Roles and User Accounts</li>
            <li><i class="icofont-check"></i> Dynamic drop-down menu creation</li>
            <li><i class="icofont-check"></i> Customizable Menus</li>
            <li><i class="icofont-check"></i> Search Engine Optimized</li>
            <li><i class="icofont-check"></i> Customizable role permissions and capabilities for granulated user control</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xl-5 col-lg-6" data-aos="fade-right">
          <img src="{% static 'assets/img/img7.png' %}" class="img-fluid" alt="">
          
        </div>

        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
          <h3>Delivering Stunning WordPress Development Services</h3>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">Custom WordPress Development Services</a></h4>
            <p class="description">
                Being one of the leading WordPress development company, we provide top-notch experience by 
                delivering stunning custom WordPress development services to clients across the globe.
            </p>
          </div>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="bx bx-gift"></i></div>
            <h4 class="title"><a href="">Robust Themes</a></h4>
            <p class="description">
                Leverage our high-quality, robust, and custom WordPress Development Services for your 
                WordPress website development and WordPress plugin development projects.
            </p>
          </div>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="bx bx-atom"></i></div>
            <h4 class="title"><a href="">Agile methodology</a></h4>
            <p class="description">
                Hire WordPress developers that follow an agile development methodology to deliver higher 
                engagement rates for your business, optimize UX, while maximizing WordPress CMS functionality.
            </p>
          </div>

          <div class="icon-box text-center text-lg-left">
            <a href="#" class="btn-c">Request a Consultation</a>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= App Features Section ======= -->
  <section id="afeatures" class="afeatures">
    <div class="container">

      <div class="section-title">
        <h2>Our Advantages</h2>
        <p>What makes us stand out.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-terminal"></i>
                <h4>Full-Cycle Services</h4>
                <p>
                    We provide full-cycle WordPress development services to deliver a highly 
                    functional custom WordPress website to maximize your business outcomes.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-code-alt"></i>
                <h4>Domain Expertise</h4>
                <p>
                    Our WordPress website developers have experience working on various projects across 
                    numerous industries. With our WordPress development services, 
                    you get exactly what you need.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-git-branch"></i>
                <h4>Agility</h4>
                <p>
                    We follow iterative approach for your custom WordPress development project  that 
                    accelerates the delivery of business value through a process of 
                    continuous planning and feedback.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield-x"></i>
                <h4>Strong Skillset</h4>
                <p>
                    With talented and experienced WordPress developers on board, our WordPress development 
                    agency is capable of executing most complex projects, covering aspects for 
                    performance, scalability and security.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'assets/img/hero-01.png' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

{% endblock content %}